
@model IEnumerable<PizzaSystem.Models.Pizza>

@{
    ViewData["Title"] = "HomePage";
}



<h1 class="text-white" style="text-align:center">Home Page</h1>

@foreach (var item in Model)
{
    <div class="card float-Centershadow"style="width: 30rem;">     
        <div class="card-body">
            <h5 class="card-title"><i>@Html.DisplayFor(modelItem => item.PizzaName)</i></h5>

            <p class="card-text"><b>@Html.DisplayNameFor(model => model.Speciality)</b>:&nbsp;<i>@Html.DisplayFor(modelItem => item.Speciality)</i></p>
            <p class="card-text"><b>@Html.DisplayNameFor(model => model.Price):</b>&nbsp;<i>@Html.DisplayFor(modelItem => item.Price)</i></p>
            <p class="card-text"><b>@Html.DisplayNameFor(model => model.IsVeg)</b>:&nbsp;<i>@Html.DisplayFor(modelItem => item.IsVeg)</i></p>
            <input type="button" class="btn btn-secondary " value="ViewDetails" onclick="location.href='@Url.Action("Detail", "Pizza",new { id = item.PizzaId})'" />
            <input type="button" class="btn btn-primary " value="Order Now" onclick="location.href='@Url.Action("Index", "Order",new { pizzaId = item.PizzaId})'" />
            <br />
            <br />
           

                
            
        </div>
    </div>
}