
@{
    ViewBag.Title = "Edit";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="ViewPort" content="Width=device-width"/>
    <title> EDIT </title>
</head>
<body>
    <div>
        <form id="formedit" method="post" action="@Url.Action("UpdateBook")">

            BookId    :<input name="txtBid" value="@Model.Rows[0]["BookId"]" />
            <br />
            BookTitle :<input name="txtTitle" value="@Model.Rows[0]["Title"]" />
            <br />
            AuthorId  :<input name="txtAid" value="@Model.Rows[0]["AuthorID"]" />
            <br />
            Price     :<input name="txtPrice" value="@Model.Rows[0]["Price"]" />
            <br />

            <input type="submit" value="Submit"name="action" />
            
            <input type="submit" value="Cancel" name="action" />
                    
        </form>
    </div>
</body>
</html>
<h2>Edit</h2>

