@model PizzaSystem.Models.Order

@{
    ViewData["Title"] = "Index";
}

@*<head>
    <style>
        body {
            background-image: url(/image.jpg);
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
    </style>
</head>*@
<div class="bg-white m-4 p-4 rounded">
    <h4 class="text-center">Order Details</h4>
    <hr />
    <div class="row m-4 p-4">
        <div class="col-12">
            <form name="orderForm" asp-action="Confirm">
                <div class="col-md-12 float-left w-50">
                    <input asp-for="PizzaId" type="hidden" value="@TempData["PizzaId"]" />
                    <div class="form-group">
                        <label class="control-label">Pizza Name</label>
                        @Html.TextBox("PizzaName", TempData["PizzaName"], new { disabled = true, @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Pizza Price <i>(per pizza)</i></label>
                        @Html.TextBox("PizzaPrice", TempData["PizzaPrice"], new { disabled = true, @class = "form-control price" })
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomerName" class="control-label"></label>
                        <input asp-for="CustomerName" class="form-control" />
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomerPhone" class="control-label"></label>
                        <input asp-for="CustomerPhone" class="form-control" />
                        <span asp-validation-for="CustomerPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 float-left w-50">
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" disabled />
                        @Html.HiddenFor(m => m.Amount)
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" onchange="calc()" min="1" max="10" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Toppings" class="control-label"></label>                        
                    <select asp-for="Toppings" class="form-control" onchange="AddTopping()" required>
                        <option value="None">None</option>
                        <option value="Pepperoni">Pepperoni</option>
                        <option value="Mushrooms">Mushrooms</option>
                        <option value="Extra Onions">Extra Onions</option>
                        <option value="Sausage"> Sausage</option>
                        <option value="Bacon">Bacon</option>
                        <option value="Black olives">Black olives</option>
                    </select>
                        <span asp-validation-for="Toppings" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CrustType" class="control-label"></label>                       
                    <select asp-for="CrustType" class="form-control" required>
                        <option value="Flatbread">Flatbread</option>
                        <option value="Thin Crust">Thin Crust</option>
                        <option value="Sicilian Style">Sicilian Style</option>
                        <option value="Neapolitan Crust">Neapolitan Crust</option>
                    </select>
                        <span asp-validation-for="CrustType" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DeliveryDate" class="control-label"></label>
                        <input asp-for="DeliveryDate" class="form-control" />
                        <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Order Now" class="btn btn-primary rounded-pill" />
                        <input type="button" class="btn btn-danger rounded-pill" value="Back" onclick="location.href='@Url.Action("Index", "Pizza")'" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function calc() {
        var form = document.forms["orderForm"];
        var sum = eval(form.Quantity.value) * eval(form.PizzaPrice.value);
        form.Amount[0].value = form.Amount[1].value = isNaN(sum) ? "" : sum;
    }
    function AddTopping() {
        calc();
        var form = document.forms["orderForm"];
        if (form.Toppings.value != "None")
            form.Amount[0].value = form.Amount[1].value = eval(form.Amount[1].value) + 30;
        else
            form.Amount[0].value = form.Amount[1].value = eval(form.Amount[2].value) - 30;
    }

</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
