@model PizzaSystem.Models.Order

@{
    ViewData["Title"] = "Success";
}

<h1 class="bg-success text-center m-4 p-4">You Order is Booked SuccessFully</h1>

<div class="bg-white m-4 p-4 rounded">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Toppings)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Toppings)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrustType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrustType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
    </dl>
    <input type="button" class="btn btn-Primary" value="Back To HomePage" onclick="location.href='@Url.Action("HomePage", "Pizza")'" />
</div>

